@{
    ViewData["Title"] = "About Us";
}

<h1>@ViewData["Title"]</h1>
<div class="page-content">
    <div class="info-section">
        <h2>Who we are:</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam voluptate harum 
            laborum veniam. Natus aperiam soluta similique delectus pariatur, rem sequi iusto ab 
            quia. Optio temporibus deserunt quae impedit ad. Ducimus debitis, numquam quaerat 
            cumque cupiditate inventore reprehenderit sapiente nulla at, quod hic voluptas.
        </p>
    </div>
    <div class="info-section">
        <h2>What we do:</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsum ducimus 
            perspiciatis numquam impedit neque molestias. Ducimus debitis, numquam quaerat 
            cumque cupiditate inventore reprehenderit sapiente nulla at, quod hic voluptas.
            Reprehenderit sapiente sequi incidunt. Molestias esse libero modi, odit unde error. 
            Necessitatibus, minus ad sint quas beatae recusandae. 
        </p>
    </div>
    <div class="info-section">
        <h2>Why we do it:</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, vero incidunt? 
            Autem mollitia perspiciatis . Qui laudantium quo quod minus, aut repellendus 
            exercitationem quasi non architecto nisi maxime ducimus. 
            Rerum fugit eum a placeat? Excepturi, omnis eius.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus at, fugit earum sunt 
            minima dolor culpa quidem ratione voluptatibus dolores impedit dolorum maiores pariatur 
            nihil, enim itaque dolore doloribus reprehenderit. Reprehenderit sapiente sequi incidunt.
        </p>
    </div>
</div>