@{
    ViewData["Title"] = "Home";
}

<div class="page-content">
    <h1>HelloWorld MVC</h1>
    <h2>Building a better future since 1973</h2>
    <img src="/images/HelloWorldMVC-Galaxy.png" id="img-galaxy" alt="An image depicting a blue galaxy"/>
</div>