@{
    ViewData["Title"] = "Our Services";
}

<h1>@ViewData["Title"]</h1>
<div class="page-content">
    <div class="info-section">
        <h2>What we offer:</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae accusamus ad 
            fugiat, consequuntur debitis deleniti nihil atque neque quaerat quas et. 
            Accusamus esse libero quam, in odit quia quas minus.
        </p>
        <p>
            Eligendi aliquid asperiores sint animi expedita a debitis nam, dolorum quos ipsa neque voluptatem
            recusandae quod quas enim accusantium qui magnam voluptates alias corporis. Assumenda quos rem n
            atus placeat ducimus. Commodi, vero incidunt? Autem mollitia perspiciatis id accusantium
            deserunt soluta quaerat dolorum, aliquam maxime iure possimus cumque quidem qui, itaque
            officia minus culpa cum sed nesciunt doloribus esse, asperiores earum.
        </p>
    </div>
    <div class="info-section">
        <h2>Our Process:</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum ipsum ducimus 
            perspiciatis numquam impedit neque molestias. Ducimus debitis, numquam quaerat 
            cumque cupiditate inventore reprehenderit sapiente nulla at, quod hic voluptas.
            Reprehenderit sapiente sequi incidunt. Molestias esse libero modi, odit unde error. 
            Necessitatibus, minus ad sint quas beatae recusandae. 
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus at, fugit earum sunt 
            minima dolor culpa quidem ratione voluptatibus dolores impedit dolorum maiores pariatur 
            nihil, enim itaque dolore doloribus reprehenderit. Reprehenderit sapiente sequi incidunt.
        </p>
    </div>
</div>